*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
h1{

    font-family: 'Rokkitt', serif; 
    font-size: 36px ;
    font-weight: 700px ;
    margin-bottom: 15px;
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color:#f3c4d2;
    font-family: 'Mulish', sans-serif;

}
a{
    
  color: #0C6787;
}
span{
    align-self: center;
    justify-content: center;
    color: #838A9E;
    margin-bottom: 30px;
    margin-top: 35px; 
}
.pfinal{
    align-self: center;
    margin-top: 60px ;
}

.container{
    display: flex;
    flex-direction:column;
    box-sizing: border-box;
    max-width: 600px;
    background-color:white;
    padding: 60px 80px;
    border-radius: 15px;
}
 .container input{
    all:unset;
    box-sizing: border-box;
    background-color: white;
    color:black;
    padding: 8px 12px;
    border-radius: 8px;
    border: 1px solid grey;
    margin-bottom:16px ;
    margin-top: 52px;
}


.container input:focus{
    border: 1px solid  black;
}

.input-container-um{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #838A9E;
    padding-bottom: 55px ;
     
}

.input-container-dois button{
    all:unset;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    justify-content: center;
    color:black;
    background-color: hsl(0, 0%, 100%);
    border-radius: 8px;  
    cursor: pointer; 
    border: 1px solid grey;
    padding: 10px 45px;
    
    
}
 button img{
    margin-right: 11px;
}
.input-container-dois button:hover{
    all:unset;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    justify-content: center;
    background-color: hsl(0, 100%, 99%);
    color: black;
    border: 1px solid black;
    border-radius: 8px; 
    cursor: pointer; 
    padding: 10px 45px;
}

.input-container-um button{
    all:unset;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    justify-content: center;
    color: white;
    background-color: #0C6787;
    border-radius: 8px;  
    cursor: pointer; 
    padding: 25px 61px 25px 35px;
}
.input-container-um button:hover{
    
    background-color: hsl(196, 100%, 29%);
    
    cursor: pointer; 
}



.container .input-container-dois{
    display:flex;
    align-items: center;
    justify-content: space-between;
    
} 

